.c-action_block {
  &__title {
	font-size: rem(15);
	font-weight: 500;
	color: color(dark);
	border-bottom: rem(1) solid color(grey-400);
	margin-top: 0;
	padding: rem(15) 0;
	margin-bottom: rem(15);
  }

  &-item {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: rem(30);

	margin-bottom: rem(30);
	padding-bottom: rem(30);
	border-bottom: rem(1) solid color(grey-400);

	&__message {
	  grid-column: 1 / span 2;
	  font-size: rem(15);
	  color: color(dark);
	  margin: 0;
	}

	form {
	  @include flex(row, wrap, end, start);
	  gap: rem(16);

	  grid-column: 3 / 6;

	  .form-group {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: rem(16);
		width: 100%;
	  }
	}
  }
}
