{% extends 'sections/layout.html.twig' %}

{% block title %}Mise à jour Akyos{% endblock %}

{% block page_content %}
	<section class="aky_card">
		<canvas id="dotlottie-canvas" style="width: 500px; height:500px; margin: 0 auto;"></canvas>
	</section>
{% endblock %}
