{% extends 'sections/layout.html.twig' %}

{% block title %}Mise à jour Akyos{% endblock %}

{% block page_content %}
	<section class="aky_card">
		<ul>
			<li>Pour les WP qui ne sont pas sur Bedrock, mettre le <s>composer.json, auth.json</s>, vérifier leur configuration, et mettre le gitignore à jour pour les plugins (exemple valtao, corah ), voir sur wp-packagist si les plugins sont disponibles</li>
			<li>Mises à jour de WP (composer), des plugins (composer) et du thème + plugins sur mesure (ex. ACF, Polylang Pro, ... si besoin d'accès aux licences, demander à Guillaume ou Thomas) => On remplace les vieux plugins par la suite WPMU (defender, smush, hummingbird, branda -> Voir Checklist configuration plugins WPMU.). Si besoin, récupérer le thème Howes à jour sur notre compte Themeforest, tenter la maj du thème et récupérer les plugins jscomposer et sliderrevolution. POUR ACF mettre à
				jour le répo dans le composer.json
			</li>
			<li>Configuration des plugins WPMU</li>
		</ul>
	</section>
{% endblock %}
