{% extends 'sections/layout.html.twig' %}

{% block title %}Mise à jour Akyos{% endblock %}

{% block page_content %}
	<section class="aky_card">
		<p>Parcourez tous les sous-menus et validez le maximum d'options !</p>

		<p>Points de la checklist restants à implémenter dans le plugin :</p>
		<ul>
			<li>Pour les WP qui ne sont pas sur Bedrock, mettre le <s>composer.json, auth.json</s>, vérifier leur configuration, et mettre le gitignore à jour pour les plugins (exemple valtao, corah ), voir sur wp-packagist si les plugins sont disponibles</li>
			<li>Mises à jour de WP (composer), des plugins (composer) et du thème + plugins sur mesure (ex. ACF, Polylang Pro, ... si besoin d'accès aux licences, demander à Guillaume ou Thomas) => On remplace les vieux plugins par la suite WPMU (defender, smush, hummingbird, branda -> Voir Checklist configuration plugins WPMU.). Si besoin, récupérer le thème Howes à jour sur notre compte Themeforest, tenter la maj du thème et récupérer les plugins jscomposer et sliderrevolution. POUR ACF mettre à
				jour le répo dans le composer.json
			</li>
			<li>Mise à jour plugin RGPD by Akyos via composer (exemple Fimainfo): dernière version à récupérer sur le repo Github, vérifier qu'on passe par tag manager et qu'il n'y a rien dans le champ analytics, si ce n'est pas le cas voir avec le CDP pour créer un compte Tag Manager et le mettre en place</li>
			<li>vérifier qu'il y a bien TagManager sur le site, vérifier qu'il y a un recaptcha sur les formulaires (Plugins CF7 ou
				forminator et
				plugin defender)
			</li>
			<li>Configuration des plugins WPMU</li>
		</ul>
	</section>
{% endblock %}
