{% extends 'sections/layout.html.twig' %}

{% block title %}Options WPMU{% endblock %}

{% block page_content %}
	<section class="aky_card">

		{% include 'components/action_block.html.twig' with {
			'title': 'Defender Firewall traduction',
			'data': translate,
			'action_name': 'akyos_updates_defender_translate',
			'action_label': 'Traduire les texte de Firewall',
		} %}

		{% include 'components/action_block.html.twig' with {
			'title': 'Defender Blocker IP',
			'data': blocker_ip,
			'action_name': 'akyos_updates_defender_global_ip',
			'action_label': 'Activer le Global IP Blocker',
		} %}

		{% include 'components/action_block.html.twig' with {
			'title': 'Defender Mask Login',
			'data': mask_login,
			'action_name': 'akyos_updates_defender_mask_login',
			'action_label': 'Enregistrer',
		} %}

		{% include 'components/action_block.html.twig' with {
			'title': 'Defender Security Headers',
			'data': security_headers,
			'action_name': 'akyos_updates_defender_security_headers',
			'action_label': 'Activer les Security Headers',
		} %}

		{% include 'components/action_block.html.twig' with {
			'title': 'Defender Pwned Passwords',
			'data': pwned_passwords,
			'action_name': 'akyos_updates_defender_pwned_password',
			'action_label': 'Activer les Pwned Passwords',
		} %}

		{% include 'components/action_block.html.twig' with {
			'title': 'Defender Recaptcha',
			'data': recaptcha
		} %}

	</section>
{% endblock %}
