<section class="container">
    <h1 class="text-center">Configuration de l'hébergement</h1>

    {% include 'components/action_block.html.twig' with {
        'title': 'Version de PHP',
        'data': php_version,
    } %}
</section>