{% extends 'sections/layout.html.twig' %}

{% block title %}Options WPMU{% endblock %}

{% block page_content %}
	<section class="aky_card">

		{% include 'components/action_block.html.twig' with {
			'title': 'Hummingbird settings',
			'data': settings,
			'action_name': 'akyos_updates_set_settings',
			'action_label': 'Configurer le Page Caching',
		} %}

	</section>
{% endblock %}
