#aky_recaptcha_preview {
  .grecaptcha-badge {
	position: initial !important;
  }

  .rc-anchor-logo-img-large {
	width: rem(44) !important;
	height: rem(44) !important;
  }

  .rc-anchor-pt {
	opacity: 1 !important;
  }
}
